extends layout 

include mixins/_contactCard

block content 
    .container-fluid.zero
        .row.w-100.h-100.zero
            //- .col-md-1.column.bg-tomato.bg-gradient
            //-     .columnTitle Contacts
            .col-md.contact-container-left
                //- .row.my-4.w-100
                //-     input(type='search' oninput="liveSearch()" placeholder="Search contacts..." name='searchbox')
                //-     .is-hidden
                nav.my-4.w-100
                    form.search
                        input.form-control.search-input(type="text" placeholder="Search... (kinda works)" name="contactSearch")
                        .search__results
                .row.py-5
                    h3 On Call #'s
                    
            .col-12.col-md-6.col-lg-5.col-xl-4.contact-container-right
                #contacts
                    each site in siteArray
                        .site-container
                            .site-accordion= site[0]
                            .container-fluid.panel
                                each contact in contacts 
                                    if contact.acronym === site[1]
                                        +contactCard(contact)
            