extends layout 

block content
    h1= title
    p ERROR....ERROR....PLEASE TRY AGAIN....ERROR...ERROR
    h3= errorMessage
    //- h1= error.message 
    //- h2= error.status 
    //- pre= error.stack