footer#footer-mobile-container.container-fluid
    .row.footer-mobile-row
        a.footer-mobile-link.col-3(href="/contacts").footer-link-border
            i.fa-solid.fa-user.fa-2xl
        a.footer-mobile-link.col-3(href="/vacation").footer-link-border
            i.fa-solid.fa-plane-engines.fa-2xl
        a.footer-mobile-link.col-3(href="/honeyBadger").footer-link-border
            i.fa-solid.fa-sack-dollar.fa-2xl
        a.footer-mobile-link.col-3(href="/resources")
            i.fa-solid.fa-book.fa-2xl

        //- a.footer-mobile-link.col-3(href="/contacts").footer-link-border
        //-     i.fa-duotone.fa-user.fa-2xl.font-icon-color-contacts
        //- a.footer-mobile-link.col-3(href="/vacation").footer-link-border
        //-     i.fa-duotone.fa-plane-engines.fa-2xl.font-icon-color-vacation
        //- a.footer-mobile-link.col-3(href="/honeyBadger").footer-link-border
        //-     i.fa-duotone.fa-sack-dollar.fa-2xl.font-icon-color-honeyBadger
        //- a.footer-mobile-link.col-3(href="/resources")
        //-     i.fa-duotone.fa-book.fa-2xl.font-icon-color-resources
        