footer#footer-container
    .w-100.p-2.bg-dark.text-light.text-center Radase 1.0
        span.px-2.text-warning &copy; Copyright 2021


//- footer#footer-mobile-container.container-fluid
//-     .row.footer-mobile-row
//-         a.footer-mobile-link.col-3(href="/contacts").footer-link-border
//-             i.fa-solid.fa-user.fa-2xl
//-         a.footer-mobile-link.col-3(href="/vacation").footer-link-border
//-             i.fa-solid.fa-plane-engines.fa-2xl
//-         a.footer-mobile-link.col-3(href="/honeyBadger").footer-link-border
//-             i.fa-solid.fa-sack-dollar.fa-2xl
//-         a.footer-mobile-link.col-3(href="/resources")
//-             i.fa-solid.fa-book.fa-2xl