extends layout 

block content
    section.container-fluid.h-100.bg-light.bg-gradient.center.flex-column
        .row.center
            .display-1 Catalyze Your Workflow
        .row.center 
            .div Quote of the day
        .row.center 
            .col.d-flex.flex-row
                h6 Quick Links
                a(href='https://www.qgenda.com') Qgenda Ocala
                a(href='https://www.qgenda.com') Qgenda Daytona
                a(href='https://www.chatbunker.com') Chatbunker 
                a(href='https://www.raocala.com') RAO Email
                a(href='https://www.quinsite.com') Quinsite




        //- //- SHOW IF NOT LOGGED IN
        //- form.container.text-center#loggedOut
        //-     .row.center
        //-         h2.m-0 Catalyze your workflow

            

        //- //- SHOW IF LOGGED IN
        //- .container#loggedIn