extends layout 

include mixins/_loginPassportForm
include mixins/_loginForgot

block content
    .container.my-4
        .row.mb-5
            +loginPassportForm()
        .row
            +forgotForm()