extends layout 

block content 
    .container-fluid 
        form(action="/sms" method="POST")
            .mb-4
                label.form-label(for="sms") Send message
                input.form-control(type="text" name="sms" placeholder="Enter message...")
            input.btn.btn-success(type="submit" value="Send message")