extends layout 

include mixins/_vacationDisplay
include mixins/_vacationUser

block content
    .container-lg.table-main-container
        .table-title-container 
            .row 
                if uberUser 
                    .col-3.table-title-column 
                        a(href='/vacationAdd')
                            i.fa-regular.fa-plus.2xl.text-success
                .col-6.table-title-column.table-title-display= title 
                .col.table-title-column 
                    .form-check.form-switch.p-0.m-0(class='toggle' data-bs-toggle='collapse' data-bs-target='#collapseRowVacation' role='button')
                        input.form-check-input.form-check-input-bg.form-check-input-checked-bg-color.m-0.p-0(type="checkbox" id="switchCheck")
                        label.form-check-label(for="switchCheck")
        .table-container
            table.table
                thead
                    tr
                        th.text-shrink.vacation-week-head(scope="col") # 
                        th.text-shrink.vacation-date-head(scope="col")
                            i.bi.bi-arrow-bar-right
                        th.text-shrink.vacation-date-head.mobile-hide(scope="col")
                            i.bi.bi-arrow-bar-left
                        th.text-shrink.vacation-slot-head.slotA(scope="col") A
                        th.text-shrink.vacation-slot-head.slotB(scope="col") B
                        th.text-shrink.vacation-slot-head.slotC(scope="col") C
                        th.text-shrink.vacation-slot-head.slotD(scope="col") D
                        th.text-shrink.vacation-slot-head.slotE(scope="col") E
                        th.text-shrink.vacation-slot-head.slotF(scope="col") F
                        th.text-shrink.vacation-slot-head.slotG(scope="col") G
                        th.text-shrink.vacation-slot-head.slotH(scope="col") H
                        if uberUser
                            th.text-shrink.vacation-notes-head.mobile-hide(scope="col") Notes
                            th.text-shrink.vacation-delete-head.mobile-hide(scope="col") X
                tbody
                    each week in vacation 
                        +vacationDisplay(week)

                h5.hidden.current-user= profile.initials
        //- INSERT MY VACATION MIXIN
        +vacationUser()


        //- if user
        //-     - const currentUser = profile.initials.toLowerCase();
        //-     h6 
        
  
                //- ul
                //-     each week in myVacation

                //-         - var startDate = week.startDate;
                //-         - var startOffset = startDate.getTimezoneOffset() / 60;
                //-         - var startHours = startDate.getHours();
                //-         - var startHours = startHours + startOffset;
                //-         - startDate.setHours(startHours,00,00);
                //-         - var startDateData = startDate.toISOString();
                //-         - var startMonth = startDate.getMonth() + 1;
                //-         - var startDay = startDate.getDate();
                //-         - var startDateDisplay = startMonth + '/' + startDay;

                //-         - var endDate = week.endDate;
                //-         - var endOffset = endDate.getTimezoneOffset() / 60;
                //-         - var endHours = endDate.getHours();
                //-         - var endHours = endHours + endOffset;
                //-         - endDate.setHours(endHours,00,00);
                //-         - var endDateData = endDate.toISOString();
                //-         - var endMonth = endDate.getMonth() + 1;
                //-         - var endDay = endDate.getDate();
                //-         - var endDateDisplay = endMonth + '/' + endDay;

                //-         li.vacation-mine= 'Week ' + week.weekNum + ' from ' + startDateDisplay + ' to ' + endDateDisplay
        //- if uberUser
        //-     .container
        //-         - var array = [];
        //-         each user in users 
        //-             - array.push(user.initials);
        //-         p.userArray2.text-light= array