mixin loginPassportForm()

    form.container.py-2(action="/loginPassport" method="POST")
        .mb-1
            h5.mb-0.text-dark= title
        .mb-3
            label.form-label(for="emailPrimary")
            input.form-control(type="emailPrimary" name="emailPrimary" placeholder="Enter Email...")
        .mb-3
            label.form-label(for="password")
            input.form-control(type="password" name="password" placeholder="Enter password...")
        input.form-input.btn.btn-dark(type="submit" value="Log In ->")