mixin quoteCard(quotes = {})
    each val in quotes
        figure
            blockquote.blockquote.quote-text= '"' + val.quote + '"'
            figcaption.blockquote-footer.quote-author= val.author