mixin quoteCard(quotes = {})

    .container
        each val in quotes
            figure
                blockquote.blockquote.text-center.zero= val.quote
                figcaption.blockquote-footer.text-center.zero= val.author