mixin registrationForm(register = {})

    form.container(method='POST', action='/registerPassport')
        .row.m-3
            h5.m-0.center= title
        div.form-group.mb-3
            label.form-label(for='firstName') First Name:
            input#firstName.form-control(type='text', placeholder='First Name' name='firstName')
        div.form-group.mb-3
            label.form-label(for='lastName') Last Name:
            input#lastName.form-control(type='text', placeholder='Last Name' name='lastName')
        div.form-group.mb-3
            label.form-label(for='initials') Initials:
            input#initials.form-control(type='text', placeholder='Initials' name='initials')
        div.form-group.mb-3
            label.form-label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
        div.form-group.mb-3
            label.form-label(for='password') Password:
            input#password.form-control(type='password' name='password')
        div.form-group.mb-3
            label.form-label(for='confirmPassword') Confirm Password:
            input#confirmPassword.form-control(type='password' name='confirmPassword')
        div.form-group.mb-3
            label.form-label(for='authLevel') Authorization Level:
            select.form-select(type='text', name='authLevel')
                option(value='employee') Employee
                option(value='radiologist') Radiologist 
                option(value='admin') Administration 
                option(value='uber') Uber user
        button.btn.btn-primary(type='submit') Register