@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* Import Google fonts Roboto and Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;

    /* PRIMARY BACKGROUND AND LIGHT TEXT */
    --radwhite: #F6F7F8;
    /* DARK BACKGROUND AND DARK TEXT */
    /* --radblack: #1B1B1B; */
    --radblack: #272727;
    /* PRIMARY HEADINGS */
    --radblue: #33658A;
    --radblue-300: #5c84a1;
    --radblue-200: #85a3b9;
    --radblue-100: #adc1d0;
    /* SECONDARY HEADINGS */
    --radyellow: #F6AE2D;
    /* ACCENT HEADINGS AND TEXT */
    --radred: #E91400;
    

    --white:    #fff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black:    #000;

    
    --fa-primary-color: red; /*  body of user icon */
    --fa-secondary-color: red; /* head of user icon */
}
.bg-radwhite { background-color: var(--radwhite); }
.text-radwhite { color: var(--radwhite); }
.bg-radblack { background-color: var(--radblack); }
.text-radblack { color: var(--radblack); }
.bg-radblue { background-color: var(--radblue); }
.bg-radblue-300 { background-color: var(--radblue-300); }
.bg-radblue-200 { background-color: var(--radblue-200); }
.bg-radblue-100 { background-color: var(--radblue-100); }
.text-radblue { color: var(--radblue); }
.bg-radyellow { background-color: var(--radyellow); }
.text-radyellow { color: var(--radyellow); }
.bg-radred { background-color: var(--radred); }
.text-radred { color: var(--radred); }
.gray-50 { background-color: var(--gray-50); }
.gray-100 { background-color: var(--gray-100); }
.gray-200 { background-color: var(--gray-200); }
.gray-300 { background-color: var(--gray-300); }
.gray-400 { background-color: var(--gray-400); }
.gray-500 { background-color: var(--gray-500); }
.gray-600 { background-color: var(--gray-600); }
.gray-700 { background-color: var(--gray-700); }
.gray-800 { background-color: var(--gray-800); }
.gray-900 { background-color: var(--gray-900); }

/* FONTS */
h1 {
    color: var(--radblack);
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 99px;
    letter-spacing: -1.5px;
    margin: 0;
    padding: 0;
}
h2 {
    color: var(--radblue);
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 62px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
}
h3 {
    color: var(--radblue);
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 49px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}
h4 {
    color: var(--radyellow);
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 0.25px;
    margin: 0;
    padding: 0;
}
h5 {
    color: var(--radred);
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}
h6 {
    color: var(--radblack);
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    font-size: 21px;
    letter-spacing: 0.15px;
    margin: 0;
    padding: 0;
}
.subtitle1 {
    color: var(--gray-800);
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
}
.subtitle2 {
    color: var(--gray-700);
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    font-size: 14px;
    letter-spacing: 0.1px;
}
.body1 {
    /* color: var(--radblack); */
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.body2 {
    color: var(--radblack);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 14px;
    letter-spacing: 1.25px;
    font-variant: small-caps;
}
.caption {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
}
.overline {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-variant: small-caps;
}
/* END FONTS */

#radase {
    font-family: 'Quicksand', sans-serif;
    font-weight: medium;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
#mobileTitle {
    margin-left: 1rem;
}
.collapse__header {
    font-size: 1.3 rem;
}

/* ALIGNMENT */
.start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__results {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ececec;
}
.search__results--active {
    background-color: #f1f1f1;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.end {
    display: flex;
    justify-content: end;
    align-items: center;
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .baseline {
    display: flex;
    justify-content: center;
    align-items: baseline;
} */

a {
    text-decoration: none;
}
a#phoneNumber:link { background-color: transparent; }
a#phoneNumber:visited { background-color: transparent; }
a#phoneNumber:hover { background-color: var(--radwhite); }
a#phoneNumber:active { background-color: var(--radyellow); }

a.bg-radblue:link { color: var(--radwhite); }
a.bg-radblue:visited { color: var(--radwhite); }
a.bg-radblue:hover { color: var(--radyellow); }
a.bg-radblue:active { color: var(--radyellow); }

.icon {
    color: var(--radred);
}
/* .iconStart {
    color: var(--radred);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.iconEnd {
    color: var(--radblack);
    font-weight: 300;
} */
.custom-toggler.navbar-toggler:hover {
    border-color: var(--radred);
    border-width: 0.13em;
}
/* .custom-toggler.navbar-toggler {
    border-color: #272727;
    border-width: 0.13em;
}
.custom-toggler.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 39, 39, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */
.slot {
    background-color: var(--radwhite);
}
.add {
    margin: 0.5rem;
}
a.add:link {
    color: var(--gray-800);
}
a.add:visited {
    color: var(--gray-700);
}
a.add:hover {
    color: var(--red-600);
    cursor: pointer;
}
a.add:active {
    color: green;
}
a.add:focus {
    color: greenyellow;
}
.notesColumn {
    background: var(--gray-300);
}
/* .text-responsive {
    font-size: calc(10% + 1vw + 1vh);
} */

.tag__link--active {
    background: purple;
}

@media (max-width: 576px) {
    /* #radase {
        display: none;
    } */
    .pageTitle {
        display: none;
    }
    .text-shrink {
        font-size: 0.5rem;
    }
}
/* @media (min-width: 576px) {
    #mobileTitle {
        display: none;
    }
} */

@media (max-width: 768px) {
    .text-shrink {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .notesCol {
        display: none;
    }
}